<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Main Page</title>
        <!-- application CSS -->
        <link rel="stylesheet" href="app/asset/stylesheets/application.css">
        <!-- font-awesome CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 title">
                    <a class="btn btn-default left-align" href="/" role="button">
                        <i class="fa fa-home fa-2x"></i>
                    </a>
                    <h1 class="text-center">STANDARD</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center subtitle" >
                    <h4>Choose from prebuilt decks.</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center subtitle" >
                    <h5>Select number of players: </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 text-center subtitle">
                    <a class="btn btn-default btn-lg btn-block" href="/standard" role="button">
                        This URL will need to leave to the Players screen, but keep the data for the deck
                        <h2>Classic</h2>
                        <h5>Nothing beats the classic werewolf formula.</h5>
                        <h6>(+1, Balanced)</h6>
                    </a>
                    <h5>Contains: 1 Seer, 2 Werewolf, 1 Hunter, 1 Bodyguard</h5>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </body>
</html>