<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center title shadow">
                    <h1 class="d-none d-md-block">THE WEREWOLF HELPER</h1>
                    <br class="d-block d-md-none">
                    <h5>Play a game of Werewolf online with your friends!<br>
                    Built for <span class="fab fa-skype"></span> and <span class="fab fa-discord"></span> calls</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center subtitle shadow">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-dark btn-lg" href="/play" role="button" style="color: #fff; background-color: #c3073f; border-color: #c3073f;">
                        <i class="fas fa-play-circle fa-2x fa-top"></i>
                        <h2>Start a Game</h2>
                    </a>
                </div>
            </div>
            <br class="d-block d-sm-none">
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center title shadow">
                    <h6><a data-toggle="collapse" href="#credits" class="title shadow">Credits</a></h6>
                    <div id="credits" class="collapse">
                        <h6>App created by <a href="https://serenamidori.com">Gabriela Gonzalez</a></h6>
                        <h6>Based off the game created by Dmitry Davidoff in 1986</h6>
                    </div>
                    <h2><i class="fa fa-paw fa-lg fa-spin-hover"></i></h2>
                </div>
            </div>
        </div>
    </body>
</html>