<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Main Page</title>
        <!-- application CSS -->
        <link rel="stylesheet" href="app/asset/stylesheets/application.css">
        <!-- font-awesome CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center title shadow">
                    <h2>THERE BE WEREWOLVES AT ROCHER HOTEL</h2>
                    <h6>(AKA Rocherwolves)</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center subtitle shadow">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-0 col-sm-3 col-md-3 text-center"></div>
                <div class="col-xs-6 col-sm-2 col-md-2 text-center" style="padding:10px">
                    <a class="btn btn-default btn-md btn-block" href="/rules" role="button">
                        <i class="fa fa-book fa-3x fa-top"></i>
                        <h2>Rules</h2>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 text-center" style="padding:10px">
                    <a class="btn btn-default btn-md btn-block" href="/play" role="button">
                        <i class="fa fa-play-circle fa-3x fa-top"></i>
                        <h2>Play</h2>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-2 col-md-2 text-center" style="padding:10px">
                    <a class="btn btn-default btn-md btn-block" href="/cards" role="button">
                        <i class="fa fa-id-card-o fa-3x fa-top"></i>
                        <h2>Cards</h2>
                    </a>
                </div>
                <div class="col-xs-0 col-sm-3 col-md-3 text-center"></div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center title shadow">
                    <h6>Optimized Werewolf helper app for <i class="fa fa-skype"></i> and Discord</i></h6>
                    <h6>Based off the game created by Dmitry Davidoff in 1986</h6>
                    <h2><i class="fa fa-paw fa-lg fa-spin-hover"></i></h2>
                </div>
            </div>
        </div>
    </body>
</html>