<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Main Page</title>
        <!-- application CSS -->
        <link rel="stylesheet" href="app/asset/stylesheets/application.css">
        <!-- font-awesome CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 title">
                    <a class="btn btn-default left-align" href="/" role="button">
                        <i class="fa fa-home fa-2x"></i>
                    </a>
                    <h1 class="text-center shadow">RULES</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center subtitle shadow">
                    <h4>Help for moderators and players.</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 title shadow">
                    <h3 class="text-center">How To Play</h3>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Werewolf is a game based on deception and trying to get rid of your enemy team. The two teams, Werewolves and Villagers, want each other dead, but some roles are in it for themselves. Killing other players is done through nightly werewolf attacks and daily villager lynches, as well as mysterious other means. Based on your team (Villager, Werewolf, or Misc) you want to win the game for your team or your specific role. Werewolves win if they hold majority in the town, and Villagers win if all the werewolves are dead.</p>
                    
                    <h3 class="text-center">Night Role Order</h3>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you are playing over skype, you don't necessarily have to ask for their input in this order! However, this is the order in which to resolve their roles if things get weird.<br><br>
                        <b>First Night Only Roles:</b> (These roles normally target players or are told the identities of certain roles)<br>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a. <i class="fa fa-refresh"></i> Doppelganger</b> (First night only)<br>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b. <i class="fa fa-meh-o"></i> Hoodlum</b> (First night only)<br>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c. <i class="fa fa-user-o"></i> Mason team</b> (First night only)<br>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d. <i class="fa fa-eye"></i> Beholder</b> (First night only)<br>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e. <i class="fa fa-paw"></i> Pet Wolf</b> (First night only)<br>
                        <br>
                        <b>Every Night Roles:</b> (Some roles have limited uses)<br>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. <i class="fa fa-paw"></i> Werewolf team</b> (Excluding Minion and Sorceress)<br>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. <i class="fa fa-search"></i> Seer</b><br>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. <i class="fa fa-search-minus"></i> Sorceress</b><br>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. <i class="fa fa-shield"></i> Bodyguard</b><br>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. <i class="fa fa-medkit"></i> Priest</b> (Only once)<br>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6. <i class="fa fa-magic"></i> Witch</b> (Only has two powers to use total)<br>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7. <i class="fa fa-microphone-slash"></i> Spellcaster</b><br>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8. <i class="fa fa-bed"></i> Insomniac</b> (Last on purpose)<br>
                        <br>
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If roles like Cursed, Tough Guy, Diseased, Seer, or Werewolf Cub were attacked, then resolve if they are dead or alive the next day and apply their affects.</b><br>
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 title shadow">
                    <h3 class="text-center">Common Mistakes</h3>
                    <p><i class="fa fa-paw"></i> There are no wills in this game, this ain't Town of Salem. Roles that have died are dead and can't talk to the players of the game. Typing in skype chat is tricky, they can talk there so long as they do not spoil the game.<br><br>
                    <i class="fa fa-paw"></i> As a mod, try not to out the roles of players until you know for sure they died and don't have any actions that can save them. (ex. hunter should be revealed once dead so he can shoot someone, but don't out them if they didn't actually die! Tough guy will survive one extra day, so you should reveal their role and that they were attacked if they WILL die.)<br>
                    </p>
                    
                    <h3 class="text-center">How To Moderate</h3>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Firstly, don't worry! Moderating is fun, and the structure is simple. You don't have to get fancy with the role playing here, that's up to your players!
                    <br>
                    <br>
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Create Deck</b> - First create your deck using this app or on your own. Make sure the number of cards matches the number of players, and that the total points for all cards is close to 0. Try not to play with less than 5 people! (ex. Werewolf (-6), Werewolf (-6), Seer (+7), Hunter (+3), Bodyguard (+3) = +1 total.)
                    <br>
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Shuffle Roles</b> - Shuffle the deck and assign to your players, remember that the app does this for you!
                    <br>
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Assign Roles</b> - Send the roles to your players via Skype (or whatever service you use) and make sure they know what to do! This app will allow you to copy that role's detail page for them to reference.
                    <br>
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. Reveal Roles</b> - Certain roles will need you to tell other players the roles of their teammates. Be sure to pay attention to who needs what information before the first day! (ex. Werewolves who are NOT the Dream Wolf need to know who the other werewolves are. Roles like the Pet Wolf and the Doppelganger need to tell you their choices BEFORE the game starts)
                    <br>
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. Begin the Story</b> - Reveal to your players where they are! A village? A dungeon? Anywhere! Have they introduce themselves to one another before sending them off to the first night. Don't feel like you have to create a brand now world, sometimes a simple village with a silly name works just as well!
                    </p>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </body>
</html>