<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Main Page</title>
        <!-- application CSS -->
        <link rel="stylesheet" href="app/asset/stylesheets/application.css">
        <!-- font-awesome CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 title">
                    <a class="btn btn-default left-align" href="/" role="button">
                        <i class="fa fa-home fa-2x"></i>
                    </a>
                    <h1 class="text-center shadow">RULES</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center subtitle shadow">
                    <h4>Help for moderators and players.</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-0 col-md-2"></div>
                <div class="col-sm-12 col-md-8">
                    <div class="panel panel-default"> 
                        <div class="panel-body"> 
                            <div class="col-sm-12 col-md-12">
                                <h3 class="text-center">How To Play</h3>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Werewolf is a social deception game where two teams, the <b class="text-info">Villagers</b> and <b class="text-danger">Werewolves</b>, try to eliminate each other. The Villagers don't know who in the town is a Werewolf, and the Werewolves want to remain undetected while they slowly kill off all the Villagers in the town. The game is run by a Moderator who isn't on either team. This web app is meant to make the moderating process easier while playing online with friends.<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Werewolf is a game played over the course of several in-game days and nights, during which the players will try to hold conversations to figure out who is a Werewolf and lynch them. During the day time, players discuess and argue the current facts and end the day by voting to lynch someone in town. During the night time, Werewolves will choose a target to kill, while other roles like the Seer will use their action to choose one player and see if they are a Werewolf. The game is over when the Werewolves have eliminated all the Villagers (or hold majority in the town), or when the Villagers have eliminated all the Werewolves.<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (Game plays best with 1 Moderator and 5-75 players)</p>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <h3 class="text-center">How To Moderate</h3>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Firstly, don't worry! Moderating is fun, and the structure is simple. You don't have to get fancy with the role playing or writing up a story for your players. Let them decide how the story should go, and you take care of the rulings!</p>
                                <p><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Create Deck</b> - First create your deck <a href="/play" target="_blank">using this app</a> or on your own cards. Make sure the number of cards matches the number of players, and that the total points for all cards is as close to 0 as possible. Try not to play with less than 5 people! 
                                <br>
                                <a data-toggle="collapse" href="#example1"><b>Example of building a deck</b></a>
                                <div class="well collapse" id="example1">
                                    A game for 5 players could use a deck of consisting of 2 Werewolves, a Seer, a Hunter, and a Bodyguard. This deck would have a total of +1 points, meaning it's balanced, only slightly favoring the Villager team. <br>
                                    Werewolf (-6) + Werewolf (-6) + Seer (+7) + Hunter (+3) + Bodyguard (+3) = (-6 + -6 + 7 + 3 + 3) = 1 
                                    This web app has built-in function to count this total for you!
                                </div></p>
                                <p><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Shuffle Cards</b> - Shuffle the deck and assign a role to each of your players. This web app does this for you by randomizing the roles and assigning them to the players you name.</p>
                                <p><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Distribute Roles</b> - Send the roles to your players via Skype, Discord, Slack, etc. and make sure they know what to do! This app allows you to copy a link to that role's detail page for them to use as a reference.</p>
                                <p><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. Reveal Roles (Specific Cases)</b> - Certain roles will need you to tell other players the roles of their teammates. Be sure to pay attention to who needs what information before the first day!
                                <br>
                                <a data-toggle="collapse" href="#example2"><b>Examples of specific reveal situations</b></a>
                                <div class="well collapse" id="example2">
                                    <i class="fa fa-paw"></i> All Werewolves will need to know about other Werewolves on their team (The roles that wake up together are <a href="/cards/21">Werewolf</a>, <a href="/cards/22">Wolf Cub</a>, <a href="/cards/23">Lone Wolf</a>, and <a href="/cards/25">Pet Wolf</a>). However- some roles on the Werewolf team will NOT wake up with the other Werewolves, meaning you should NOT reveal them to the ones who wake up at night (These roles are <a href="/cards/24">Dream Wolf</a>, <a href="/cards/26">Minion</a>, and <a href="/cards/27">Sorceress</a>.) The Dream wolf will join the team after one other Werewolf has died, and will be revealed to their team. The Minion will know who the Werewolves on their team are, but the Werewolves will not know who the Minion is. The Sorceress will not know who the Werewolves on their team are at all, and the Werewolves will not know who the Sorceress is.<br><br>
                                    <i class="fa fa-paw"></i> Roles like the <a href="/cards/25">Pet Wolf</a>, <a href="/cards/9">Doppelganger</a> and <a href="/cards/29">Hoodlum</a> need to tell you their choices BEFORE the game starts, otherwise they could go back on their choice and cheat. You should ask these players for their choices first to make sure nothing else in the game influences their choice.<br><br>
                                    <i class="fa fa-paw"></i> <a href="/cards/15">Beholder</a> needs to know who the <a href="/cards/1">Seer</a> is at the start of the game, but the <a href="/cards/5">Apprentice Seer</a> will only find this out if the Seer dies. In this case as well, the Behold does not know who the Apprentice Seer is.
                                </div></p>

                                <p><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. Begin the Story</b> - Reveal to your players where they are! A village? A dungeon? It could be anywhere! Have they introduce themselves to one another before sending them off to the first night. Don't feel like you have to create a brand now world, sometimes a simple village with a silly name works just as well!</p>
                            </div> 
                            <div class="col-sm-12 col-md-12">
                                <h3 class="text-center">Night Role Order</h3>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you are playing over skype, you don't necessarily have to ask for their input in this order! However, this is the order in which to resolve their roles if things get weird.<br><br>
                                    <b>First Night Only Roles:</b> (These roles normally target players or are told the identities of certain roles)<br>
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a. <i class="fa fa-refresh"></i> Doppelganger</b> (First night only)<br>
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b. <i class="fa fa-meh-o"></i> Hoodlum</b> (First night only)<br>
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c. <i class="fa fa-user-o"></i> Mason team</b> (First night only)<br>
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d. <i class="fa fa-eye"></i> Beholder</b> (First night only)<br>
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e. <i class="fa fa-paw"></i> Pet Wolf</b> (First night only)<br>
                                    <br>
                                    <b>Every Night Roles:</b> (Some roles have limited uses)<br>
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. <i class="fa fa-paw"></i> Werewolf team</b> (Excluding Minion and Sorceress)<br>
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. <i class="fa fa-search"></i> Seer</b><br>
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. <i class="fa fa-search-minus"></i> Sorceress</b><br>
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. <i class="fa fa-shield"></i> Bodyguard</b><br>
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. <i class="fa fa-medkit"></i> Priest</b> (Only once)<br>
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6. <i class="fa fa-magic"></i> Witch</b> (Only has two powers to use total)<br>
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7. <i class="fa fa-microphone-slash"></i> Spellcaster</b><br>
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8. <i class="fa fa-bed"></i> Insomniac</b> (Last on purpose)<br>
                                    <br>
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If roles like Cursed, Tough Guy, Diseased, Seer, or Werewolf Cub were attacked, then resolve if they are dead or alive the next day and apply their affects.</b><br>
                                </p>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <h3 class="text-center">Common Mistakes</h3>
                                <p><i class="fa fa-paw"></i> There are no wills in this game, this ain't Town of Salem. Roles that have died are dead and can't talk to the players of the game. Typing in skype chat is tricky, they can talk there so long as they do not spoil the game.<br><br>
                                <i class="fa fa-paw"></i> As a mod, try not to out the roles of players until you know for sure they died and don't have any actions that can save them. (ex. hunter should be revealed once dead so he can shoot someone, but don't out them if they didn't actually die! Tough guy will survive one extra day, so you should reveal their role and that they were attacked if they WILL die.)<br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-0 col-md-2"></div>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </body>
</html>